body * {
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(31, 31, 31) inherit;
}
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0);
  clip-path: polygon(0, 0);
  overflow: hidden;
  text-indent: -9999px;
}
button {
  border: none;
}
input {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
button, input {
  border: none;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
main.todoMain {
  padding: 35px 32px;
}
h2 {
  margin: 0;
}
.head {
  background-color: rgb(66, 87, 155);
  /* text-align: end; */
  padding: 19px 30px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.logForm {
  background-color: rgb(163, 174, 235);
  width: 350px;
  /* margin: 50px auto 20px; */
  margin: 200px auto 20px;
  padding: 35px 40px 21px;
  border-radius: 10px;
}
.logForm span {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.logForm .inputStyle {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 20px;
}
.logForm input[type="text"]{
  margin-bottom: 20px;
}
.logBtn {
  display: block;
  padding: 10px 60px;
  margin: 14px auto;
  border-radius: 6px;
  color: rgb(31, 31, 31);
  outline-style: none;
}
.logBtn.active {
  background-color: rgb(66, 87, 155);
  color: #fff;
}
.logBtn.active:focus {
  outline-style: auto;
}

.warnLogin {
  font-size: 13px !important;
  font-weight: 600;
  color: rgb(226, 58, 58);
  margin-top: -1px;
  /* text-align: center; */
}

.logoutBtn{
  float: right;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -4px;
  padding: 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  color: #fff;
}

.newBoard {
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.newBoard h1 {
  display: inline;
  margin: 0 20px 0 0 !important;
  padding: 0 0 0 0 !important;
  font-weight: 400;
  font-size: 38px;
  color: rgba(66, 87, 155, 1);
}
.newBoard input {
  border-bottom: 2px solid rgba(66, 87, 155, 1);
  margin-right: 3px;
  width: 175px;
  height: 45px;
  margin-top: -10px;
  font-size: 20px;
  outline: none;
}
.cardList {
  /* display: flex; */
  margin: 0 auto;
}
.card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 280px;
  border: 2px solid rgba(66, 87, 155, 1);
  box-shadow: 3px 3px 0px rgba(66, 87, 155, 1);
  border-radius: 15px;
  padding: 23px 20px;
  margin: 0 15px 30px;
  color: rgb(66, 87, 155);
}
.card h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.todo {
  font-size: 18px;
  font-weight: 500;
  list-style: initial;
  margin-left: 25px;
}
.todoInput {
  border: 2px solid rgb(66, 87, 155);
  margin: 18px 6px 0;
  width: 94%;
  height: 35px;
  border-radius: 5px;
}
.deleteTodo {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 19px;
  right: 20px;
  font-size: 23px;
  color: rgb(66, 87, 155);
  padding: 0;
  border-radius: 5px;
}
.deleteTodo:hover, .deleteTodo:focus {
  background-color: rgb(66, 87, 155);
  color: #fff;
}
.deleteTodo span {
  background-color: rgb(66, 87, 155);
  display: block;
  height: 2px;
  width: 100%;
  /* transform: translateY(50%);; */
}
.deleteTodo span:first-child {
  /* margin-top: 13px; */
  margin-top: 50%;
  /* margin-top: start; */
  transform: rotate(45deg);
}
.deleteTodo span:last-child {
  /* margin-top: -2px; */
  margin-top: end;
  transform: translateY(-50%) rotate(-45deg);
}
