{
	//객체나 배열을 작성 할 때, 원소 혹은 key-value 의 맨 뒤에있는 것에도 쉼표를 붙입니다.
  "trailingComma": "all",
	//탭 들여쓰기는 2칸으로 정합니다.
  "tabWidth": 2,
	//자바스크립트 끝날 땐 세미콜론을 꼭 붙입니다.
  "semi": true,
	//문자열 표현은 '을 사용합니다.
  "singleQuote": true
}