.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body * {
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(44, 44, 44);
}

.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0);
  clip-path: polygon(0, 0);
  overflow: hidden;
  text-indent: -9999px;
}

form {
  border: 3px solid rgb(108, 167, 206);
  width: 250px;
  margin: 50px auto;
  padding: 35px 30px;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
legend {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
input {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #4f6da8;
  font-size: 16px;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #4f6da8;
  color: #fff;
  border: none;
}
