@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body * {
  font-family: 'Noto Sans KR', sans-serif;
  /* color: rgb(34, 34, 34); */
  /* color: rgb(90, 90, 90); */
  box-sizing: border-box;
  height: 100%;
}
.page_bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
  z-index: -100;
}
main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  /* background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%); */
  /* background: #DCE35B;
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  background: linear-gradient(to right, #45B649, #DCE35B);  */
  /* height: 100vh; */
}
h1, h2, ul, li {
  margin: 0;
  padding: 0;
}
input, button {
  border: none;
  background-color: #fff;
}
h1.title {
  text-align: center;
  font-size: 40px;
  color: #fff;
  padding: 80px 0 40px;
  font-weight:600;
  text-shadow: 1px 1px 10px rgba(0,0,0,.28);
}
.book_wrap {
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 255, 255, 0.9); */
  width: 82%;
  max-width: 850px;
  max-width: 750px;
  margin: 0 auto;
  padding: 25px 40px 30px;
  border-radius: 21px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .24);
}
.inputs_wrap{
  /* background-color: rgb(82, 91, 255); */
  background-color: rgb(73, 82, 255);
  /* background-image: linear-gradient( 135deg, rgb(88, 96, 255) 10%, #223FFF 100%); */
  background-image: linear-gradient( 135deg, rgb(100, 107, 255) 10%, rgb(57, 67, 255) 100%);
  /* background-image: linear-gradient( 135deg, #636efe 10%, #475cff 100%); */
  padding: 20px 25px;
  border-radius: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.div {
  display: flex;
  align-items: center;
}
.book_label {
  color: rgb(0, 9, 170);
  color: #fff;
  font-size: 21px;
  text-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.book_input {
  margin-left: 18px;
  padding: 0 10px;
  height: 30px;
  max-width: 160px;
  vertical-align: baseline;
  font-size: 15px;
  border-radius: 5px;
  /* border-bottom: 1px solid #fff; */
  /* background-color: rgba(255, 255, 255, 0); */
  /* background-color: #fff; */
}
@media screen and (max-width: 875px) { 
  div.div:first-child {
    margin-bottom: 15px;
  }
  div.div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .book_input {
    margin: 0;
    margin-left: 20px;
    /* max-width: 160px; */
    width: 40%;
  }
  .inputs_wrap{
    padding: 25px;
  }
}

ul.info_list {
  margin-top: 30px;
  padding: 0 5px;
  /* background-color: #fff;
  border-radius: 11px; */
}

@media screen and (max-width: 500px) { 
  main {
    padding-bottom: 70px;
  }
  /* h1.title {
    padding: 60px 0 40px;
  } */
  .book_wrap{
    width: 85%;
    padding: 40px 37px;
  }
  /* .inputs_wrap {
    border-radius: 13px;
    padding: 20px 25px;
  } */
  div.div {
    width: 100%;
    display: block;
    margin-bottom: 5px !important;
  }
  .book_input {
    min-width: 100%;
    margin: 8px 0 5px 0;
  }
} 


.info_list::after{
  display: block;
  content: "";
  clear: both;
}

li.info {
  color: rgb(0, 9, 170);
  color: rgb(35, 40, 143);
  float: left;
  color: rgb(49, 54, 143);
  list-style: none;
  display: flex;
  align-items: center;
  /* margin: 0 10px 5px; */
  width: 33.3%;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.info span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li.info:nth-child(3n -1) {
  display: flex;
  justify-content: center;
}
li.info:nth-child(3n) {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 875px) { 
  ul.info_list {
    padding: 0;
  }
  li.info {
    width: 50%;
    justify-content: center !important;
  }
  /* li.info:nth-child(2n -1) {
    padding-left: 10px;
    justify-content: flex-start;
  }
  li.info:nth-child(2n) {
    padding-right: 10px;
    justify-content: flex-end;
  }
  li.info {
    justify-content: center !important;
  } */
}

.info_btn {
  background-color: #fff;
  /* background-color: rgba(255, 255, 255, 0); */
  /* font-size: 14px; */
  box-sizing: border-box !important;
  color: rgb(46, 51, 141);
  font-weight: 500;
  border-radius: 30px;
  margin-left: 10px;
  background-color: rgb(92, 100, 255);
  background-image: linear-gradient( 135deg, rgba(100, 107, 255, .9) 10%, rgba(57, 67, 255, .9) 100%);
  /* background-image: linear-gradient( 135deg, rgb(100, 107, 255) 10%, rgb(57, 67, 255) 100%); */
  /* background-color: rgb(57, 67, 255); */
  color: #fff;
}
.info_btn:hover, .info_btn:focus {
  /* background-color: rgb(59, 69, 255);
  color: #fff; */
  background-color: rgba(255, 255, 255, 1);
  background-image: none;
  /* background-image: linear-gradient( 135deg, rgb(100, 107, 255) 10%, rgb(57, 67, 255) 100%); */
  color: rgb(57, 67, 255);
  border: 1px solid rgb(57, 67, 255);
  padding: 0px 6px 1px;
}
@media screen and (max-width: 590px) { 
  li.info {
    width: 100%;
    padding: 0 !important;
    font-size: 18px;
    letter-spacing: 0.1;
    margin-bottom: 8px;
    align-items: center;
  }
  li.info:nth-child(n) {
    justify-content: center;
  }
}
/* fontawesome */
.fas {
  font-size: 18px;
  transform: translateY(-2px);
}
.fa-phone-alt {
  text-shadow: 1px 1px 0;
}
